@use 'variaveis';

.footer {
    padding-bottom: 18px;
    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;

    }
    img {
        width: 80px;
        margin: 0 auto 10px;
    }
    
    &__links {
        margin-bottom: 16px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    
        &__item {
            display: inline-block;
    
            a {
                text-decoration: none;
                padding: 8px 16px;
                color: #fff;
                font-size: 14px;
                color: variaveis.$corTextoPrincipal;

                &:hover {
                    color: variaveis.$corTextoSecundario;
                }
            }
        }
    }

    .language {
        display: flex;
        align-items: center;
        img {
            height: 22px;
            width: 22px;
            margin: 0 8px;
        }

        select {
            background-color: transparent;
            border: none;
            color: variaveis.$corTextoPrincipal;
            padding: 4px;
            height: 35px;
        }

        option {
            background-color: variaveis.$corDeFundo;
            color: variaveis.$corTextoSecundario;
        }
    }
}